.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
}

.item {
  background-color: #4a90e2;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}